a:link {
  text-decoration: none;
  background-color: wheat;
}

a:link {
  color: red;
}

a:visited,
a:link {
  color: green;
}

a:active {
  color: turquoise;
}

a:focus {
  outline: 1px solid;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}

ul li {
  /* border: 1px solid green; */
  flex: 1;
  text-align: center;
  display: flex;
}

li a {
  flex: 1;
  padding: 20px 5px;
}

li a[href^="https://"]::after
{
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  padding-left: 5px;
  background-image: url(icons8-external-link.svg);
  background-repeat: no-repeat;
  background-position: right 30% top 45%;
  background-size: 15px 15px;
  background-color: wheat;
}

a:hover {
  text-decoration: underline;
  background-color: darkcyan;
  color: white;
}

li:not(:last-of-type) {
  border-right: 1px solid black;
}

@media all and (max-width: 500px) {
  ul,
  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul li {
    flex: 1 1 100%;
  }

  li:not(:last-of-type) {
    border-bottom: 1px solid black;
    border-right: none;
  }
}
